.scorecard {
    .table {
        td,
        th {
            text-align: center;
            white-space: nowrap;

            &:first-child {
                text-align: left;
                padding-right: 4rem;
            }
        }
    }
}
